
<div class="card">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, placeholder: "Yummy Cocktail Name!" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div> <%= f.button :submit, class: "btn btn-primary"  %></div>
        <div> <%= link_to 'Back', cocktails_path, class: "btn btn-danger" %> </div>

  <% end %>
</div>

